<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Users</title>
    </head>

    <body>
        <h1>Users</h1>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <a href="/profile/<%= user._id %>">
                        <%= user.username %>
                    </a>
                </li>
            <% }) %>
        </ul>

        <h2>Create new user</h2>

        <form method="POST" action="/users">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input values="Save" type="submit">
        </form>
    </body>
</html>