@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  padding: 0 20px;
}

.header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: violet;
  background-color: rgba(0,0,0,0.4);
}


button {
  border-radius: 50px ;
  font-size: 12px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  background-color: violet ;
  color: #fff;
}

.user-create {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
}

form {
 

}

form input {

  font-size: 14px;
}